<nav class="frist-nav">

  <span> <img src="assets/img/icons/lock.png">Secure Payments</span>
  <span><img src="assets/img/icons/umprla.png">Shipped With Care</span>
  <span><img src="assets/img/icons/!!.png">Customer Services</span>
  <span><img src="assets/img/icons/smile.png">Staisfaction Guaranteed</span>

</nav>

<div class="footer">
  <div class="footer1 pt-5">
    <ul class="list-unstyled ">
      <li class="pt-2"><img class="logo" src="assets/img/Logo.webp" alt="logo"></li>
      <li class="">Hyper Techno For Electrical Appliances,<br>Home Appliances, Sports Equipments,<br>Mattresses</li>
      <li><span>Do</span>wnload Our Application</li>
      <li><img class="download" src="assets/img/ios.webp" alt="IOS"> <img class="download" src="assets/img/android.webp"
                                                                         alt="andorid"></li>
    </ul>

    <div>
      <h6><span>QU</span>ICK LINKS</h6>
      <ul class="list-unstyled">
        <li routerLink="/aboutUs">About Us</li>
        <li routerLink="/contactUs">Contact Us</li>
        <li routerLink="/Installments">Installment</li>
        <li routerLink="/policy">Returning Policy</li>
        <li>Terms & Conditions</li>
        <li>Delivery Information</li>
      </ul>
    </div>

    <div>
      <h6 class="pb-4"><span>SU</span>BSCRIBE OUR NEW LETTER</h6>
      <div class=" input ">

        <input type="text">

        <img src="assets/img/icons/paper.png">
      </div>
      <h6 class="pt-3"><span>JO</span>IN US</h6>

      <div class="icon pt-4">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
  <hr class="hr mt-5">
  <div class="footer2">
    <p>All Rights reseved.Copyright<i class="far fa-copyright"></i>2019 Hyper Techon.Address: Alexandria Agricutture
      Rd,Nafye, Tanta, Tel:(040)3295080, Email:contact@hyper-techno.com </p>
  </div>
</div>
