.nav{
  background-image: url(../../assets/img/header.jpg);
  height: 30px;
}
.nav h2{
  width: 80%;
  margin: auto;
  font-size: 12px;
  color: white;
  font-weight: normal;
}
.nav h2 a{
  color: white;
}
.nav h2 a:hover{
  text-decoration: none;
  color: white;
}
.nav h2 span{
  color: yellow;
}

.sec1 {
  height: 300px;
  background-image: url(../../assets/img/contact.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sec1 .text {
  position: absolute;
  color: white;
  left: 15%;
  top: 30%;
}

.sec1 .text h2 {
  font-size: 48px;
}

.sec1 .text h5 {
  font-size: 24px;
  font-weight: 100;
}

.sec2 .frist {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sec2 .call {
  border: 1px solid #ff1119;
  width: 350px;
  border-radius: 0px 13px;
  padding: 20px 0px 20px 20px;
  position: relative;
  height: 270px;
}
.line {
  height: 1px;
  width: 50%;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-right: 10px;
}
.line2 {
  height: 1px;
  width: 60%;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-right: 10px;
}
.line3 {
  height: 1px;
  width: 75%;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-right: 10px;
}
.line4 {
  height: 1px;
  width: 69%;
  border-radius: 20px;
  background-color: #ebebeb;
  margin-right: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .mail {
  margin: 20px;
  width: 350px;
  text-align: center;
  height: 300px;
  border: 1px solid red;
  border-radius: 0px 13px;
  position: relative;
}

.sec2 .opening {
  margin: 20px;
  width: 350px;

  height: 300px;
  border: 1px solid red;
  border-radius: 0px 13px;
  position: relative;
}

.sec2 h3 {
  font-weight: 400;
  font-size: 14px;
  color: #ff1119;
  margin: 0;
}

.sec2 h3 span {
  margin-right: 20px;
  font-weight: 900;
}
.sec2 h3 span img{
  width: 25px;
}

.sec2 p {
  color: rgb(170, 169, 169);
  font-size: 14px;
}


.sec2 h5 {
  color: #ff1119;
  font-size: 16px;
}

.sec2 h5 span {
  color: rgb(170, 169, 169);
}

.sec2 h4 {
  color: #ff1119;
  font-size: 18px;
}

.sec2 h6 {
  color: rgb(170, 169, 169);
}

/* section3 */
.sec3 {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sec3 .comment {
  margin: 20px;
  width: 450px;
  padding: 20px 0px 20px 20px;
  height: 450px;
  border: 1px solid red;
  border-radius: 0px 13px;
  position: relative;
}

.sec3 .visit {
  margin: 20px;
  width: 450px;
  padding: 20px 0px 20px 20px;
  height: 450px;
  border: 1px solid red;
  border-radius: 0px 13px;
  position: relative;
}

.sec3 iframe {
  width: 85%;
  height: 250px;
}
.sec3 h3 {

  color: #ff1119;
  top: 20px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
}

.sec3 h3 span img {
  margin-right: 10px;
  width: 25px;
}
.sec3 input{
  width: 90%;
  height: 40px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 0px 13px;
}
.sec3 textarea{
  width: 90%;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 0px 13px;
}

.sec3 button{
  background-color: #c40d12;
  border-radius: 0px 13px;
  height: 40px;
  margin-top: 20px;
  color: white;
}
