<div class="nav">
  <h2 class="text-left">
    <a routerLink="/home">Home </a>
    <span>> About us</span>
  </h2>
</div>


<div class="sec1">

  <div class="text">
    <h2>About us</h2>
    <h5>There are loads of reasons to by from <span>HYPER TECHNO</span></h5>
  </div>
</div>
<!-- section2 -->
<section class="sec2">

  <h3>OUR STORY</h3>
  <p>Hyper Techno Seeking success is a destination that many people aspire to, but we are seeking the summit we seek to

    bulid a house of confidance based on a sense of comfort for our customers who have contiuned with us for a along
    journey
    that has lasted for more than forty nine years and we will continued towards the summit to complete the construction
    of
    this home under the slogan.
  </p>

  <p>
    <span>'TRUST.. </span>
    History For a Great Home <span>'</span>
    For inquiries and inquiries :<span class="mob"> Mob: 0109672443</span>
  </p>

</section>
<!-- section3 -->
<section class="sec3">
  <div class="about-card">
<span>
  <img src="assets/img/icons/lamp2.png">
  Expertise
</span>
    <div class="line"></div>
    <p>
      With over 49 years of appliance<
      expertise, we strive to ensure you get your
      perfect bespoke kitchen package, with the best service from start to finish, partnered with the best possible
      price. Our staff are not only friendly but
      extremely knowledgeable and will go aboveand beyond to ensure that your time with us is nothing less than what you
      deserve.

    </p>


  </div>
  <div class="about-card">
<span>
  <img src="assets/img/icons/books.png">
  Knowledge
</span>
    <div class="line"></div>
    <p>
      We understand that creating your
      perfect home can be tough, especially
      perfect home can be tough, especially appliances that can seem the perfect fit. Our team have the ultimate
      appliance knowl edge and will help you every step of the
      way to ensure you choose the best appliances for your bespoke , so you feel nothing but love for it.

    </p>


  </div>
  <div class="about-card">
<span>
  <img src="assets/img/icons/grad.png">
  Experience
</span>
    <div class="line"></div>
    <p>
      We have been supplying top brand
      appliances for over 49 years at incredibly
      competitive prices throughout Egypt. We are
      proud to say we are one of the largest appliance
      retailers in the country, putting our customers
      wants and needs first, we monitor our competitor’s
      prices daily to ensure that we
      can offer you the best deals possible.

    </p>


  </div>
  <div class="about-card">
<span>
  <img src="assets/img/icons/right1.png">
  Reliable
</span>
    <div class="line"></div>
    <p>
      We are more than just an online retailer. We have an incredible showroom full of all the latest products, so you
      can really
      envisage your new Home. Situated in a town called Tanta,customers visit our showroom from all over the Egypt to
      get unrivalled product advice, customer
      service and fantastic prices.


    </p>


  </div>
  <div class="about-card">
<span>
  <img src="assets/img/icons/diamond.png">
Services
</span>
    <div class="line"></div>
    <p>
      With a free delivery service, friendly delivery drivers, and ensuring your goods go from A to B with care,
      you can rely on us to give you the best delivery service possible. We make sure your appliance is
      brought into your property, unpacked and all packaging taken back with us so that there’s very little for
      you to do once your appliance has arrived.


    </p>


  </div>
  <div class="about-card">
<span>
  <img src="assets/img/icons/love.png">
  Care
</span>
    <div class="line"></div>
    <p>
      We care about our customer sexperience  when buying from us. From the start of  your purchase to when it
      arrives at your house, we aim to make sure you won’t want to go anywhere else when you come to buy
      your next appliance. We thrive on happy customers and great customer care. We have excellent  customer
      reviews on many price comparison websites.


    </p>


  </div>


</section>
<!-- section4 -->
<section class="sec4">
  <img src="assets/img/cover.jpg">

</section>

