<div class="nav">
<h2>
  <a routerLink="/home">Home </a>
  <span>> About us</span>
</h2>
</div>


<div class="sec1">

  <div class="text">
    <h2>About us</h2>
    <h5>There are loads of reasons to by from <span>HYPER TECHNO</span> </h5>
  </div>
</div>
<!-- section2 -->
<section class="sec2">

  <h3>OUR STORY</h3>
  <p>Hyper Techno Seeking success is a destination that many people aspire to, but we are seeking the summit we seek to
    <br>
    bulid a house of confidance based on a sense of comfort for our customers who have contiuned with us for a along
    journey <br>
    that has lasted for more than forty nine years and we will continued towards the summit to complete the construction
    of <br>
    this home under the slogan.
  </p>

  <p>
    <span>'TRUST.. </span>
    History For a Great Home <span>'</span>
    For inquiries and inquiries :<span class="mob"> Mob: 0109672443</span>
  </p>

</section>
<!-- section3 -->
<section class="sec3">
<div class="about-card">
<span>
  <img src="assets/img/icons/lamp2.png">
  Expertise
</span>
<div class="line"></div>  
<p>
  With over 49 years of appliance<br>
expertise, we strive to ensure you get your<br>
 perfect bespoke kitchen package, with the <br>best service from start to finish, partnered<br> with the best possible price. Our staff are<br> not only friendly but<br> 
extremely knowledgeable and will go above<br> and beyond to ensure that your time with us <br>is nothing less than what you deserve.

</p>


</div>
<div class="about-card">
<span>
  <img src="assets/img/icons/books.png">
  Knowledge
</span>
<div class="line"></div>  
<p>
  We understand that creating your<br>
  perfect home can be tough, especially <br>
  perfect home can be tough, especially  <br>appliances that can seem the perfect fit. Our<br>team have the ultimate appliance knowl<br>edge and will help you every step of the <br> 
  way to ensure you choose the best appliances<br> for your bespoke , so you feel nothing  <br>but love for it.

</p>


</div>
<div class="about-card">
<span>
  <img src="assets/img/icons/grad.png">
  Experience
</span>
<div class="line"></div>  
<p>
  We have been supplying top brand	<br>
  appliances for over 49 years at 	incredibly <br>
  competitive prices throughout Egypt. We are <br>
  proud to say we are one of the largest appliance <br>
  retailers in the country, putting our customers <br> 
  wants and needs first, we monitor our 	competitor’s <br> 
  prices daily to ensure that we<br>
  can offer you the best deals possible.

</p>


</div>
<div class="about-card">
<span>
  <img src="assets/img/icons/right1.png">
  Reliable
</span>
<div class="line"></div>  
<p>
  We are more than just an online retailer.<br> We have an incredible showroom full of <br>all the latest products, so you can really <br>
  envisage your new Home. Situated in a<br> town called Tanta,customers visit our<br> showroom from all over the Egypt to get<br> unrivalled product advice, customer <br>	service and fantastic prices.



</p>


</div>
<div class="about-card">
<span>
  <img src="assets/img/icons/diamond.png">
Services
</span>
<div class="line"></div>  
<p>
  With a free delivery service, friendly<br>	 delivery drivers, and ensuring your <br>goods go from A to B with care, you can <br>rely on us to give you the best delivery <br>service possible. We make sure your	<br> appliance is brought into your property,<br> unpacked and all packaging taken back<br> with us so that there’s very little for you<br> to do once your appliance has arrived.



</p>


</div>
<div class="about-card">
<span>
  <img src="assets/img/icons/love.png">
  Care
</span>
<div class="line"></div>  
<p>
  We care about our customersexperience <br> when buying from us. From the start of <br> your purchase to when it arrives at your<br> house, we aim to make sure you won’t <br>want to go anywhere else when you <br>come to buy your next appliance. We <br>thrive on happy customers and great<br>customer care. We have excellent	<br>	customer reviews on many price comparison <br>websites.



</p>


</div>




</section>
<!-- section4 -->
<section class="sec4">
  <img src="assets/img/cover.jpg">

</section>
