.nav{
  background-image: url(../../assets/img/header.jpg);
  height: 30px;
}
.nav h2{
  width: 80%;
  margin: auto;
  font-size: 12px;
  color: white;
  font-weight: normal;
}
.nav h2 a{
  color: white;
}
.nav h2 a:hover{
  text-decoration: none;
  color: white;
}
.nav h2 span{
  color: yellow;
}

.sec1 {
  height: 300px;
  position: relative;
  background-image: url(../../assets/img/policy.png);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}



.sec1 .text {
  position: absolute;
  color: white;
  left: 15%;
  top: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sec1 .text h2 {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}
.sec1 .text img{
  width: 100px;
}
.sec1 .text h5 {
  font-size: 22px;
  font-weight: 300;
}

.sec1 span {
  text-shadow: 2px 2px 4px #000000;
}
.editText{
  text-align: center;
  color: #ff1119;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0;
}
form input{
  background: #f1f1f1;

}
form .name{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}
.editForm form{
  width: 75%;
  margin: auto;
  padding-bottom: 30px;
}
.name label{
  color: #939393;
  display: block;
}
.name img{
  width: 50px;
  height:auto;
  margin-right: 10px;
}
form button{
  background: #ff0009;
  border: none;
  color: white;
  text-decoration: underline;
  border-radius: 0px;
}
