<div class="nav">
  <h2>
    <a routerLink="/home">Home </a>
    <span>> Edit My Profile</span>
  </h2>
</div>
<div class="sec1">

  <div class="text">
    <img [src]="'https://arafa.000webhostapp.com/Hyper/uploads/' + userdata?.user.profile_pic" class="img-fluid">
    <h2 >{{userdata?.user.first_name}} {{userdata?.user.last_name}}</h2>

  </div>
</div>

<h2 class="editText">Edit My Profile</h2>

<div class="editForm">
  <form (ngSubmit)="edit(myForm)" #myForm="ngForm">
    <div class="name">
      <div style="width: 45%;margin-right: 30px">
        <label>First Name</label>
        <input name="Fname" class="form-control" type="text" id="fname" ngModel required >
      </div>
      <div style="width: 45%">
        <label>Last Name</label>
        <input name="Lname" class="form-control" type="text" ngModel required >
      </div>
    </div>
    <div class="name">
      <div style="width: 45%;margin-right: 30px">
        <label>E-mail</label>
        <input name="Umail" class="form-control" type="email" ngModel required >
      </div>
      <div style="width: 45%">
        <label>Current Password</label>
        <input name="oldPassword" class="form-control" type="password" ngModel required>
      </div>
    </div>
    <div class="name">
      <div style="width: 45%;margin-right: 30px">
        <label>New Password</label>
        <input name="password" class="form-control" id="password" type="password" ngModel required>
      </div>
      <div style="width: 45%">
        <label> Confirm New Password</label>
        <input name="rePassword" class="form-control" id="rePassword" type="password" ngModel required>
      </div>
    </div>
    <div class="name">
      <div style="width: 45%;margin-right: 30px">
        <label>Mobile Number</label>
        <input name="phoneNum" class="form-control" type="number" ngModel required>
      </div>
      <div style="width: 45%">

      </div>
    </div>


    <button type="submit" class="btn">Submit</button>

  </form>
</div>
