<div id="loading">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<div class="data">


  <div class="nav">
    <h6>
      <span class="text" routerLink="/home">Home ></span>
      <span>  Tv & Home Theaters</span>
    </h6>
  </div>
  <!-- section2 -->
  <section class="p-sec2">
    <div class="text">
<!--      <h2 *ngFor="let x of data.filter">{{x.categories.name}}</h2>-->
      <h2>{{data.categories[0]?.name}} <span *ngIf="data.categories[1]"> & {{data.categories[1]?.name}}</span>  </h2>
      <h5>{{data.brands[0].name}}
        <span  *ngIf="data.brands[1]"> & {{data.brands[1]?.name}}</span>
        <span *ngIf="data.brands[2]"> & {{data.brands[2]?.name}}</span>
        <span *ngIf="data.brands[3]"> & {{data.brands[3]?.name}}</span>
        <span *ngIf="data.brands[4]"> & {{data.brands[4]?.name}}</span>

      </h5>
    </div>
  </section>
  <!-- section4 -->
  <div class="text-center">
    <h1>OUR PRODUCTS</h1>
  </div>

  <div class="all">

    <section class="p-sec4" id="sec4">

      <div class="price">
        <h6>Filter By Price</h6>
        <hr>
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="filterChange($event,minValue,maxValue, null, null ,null)"></ng5-slider>
      </div>

      <div class="filter ">
        <button class="btn " id="brands_Btn" (click)="showBrands()">Brands <i class="fas fa-angle-down  fa-rotate-270" id="icon"></i></button>
        <hr>
        <div class="check scroll" id="Check_List">
          <div *ngFor="let x of filter.brands">
            <h6><input type="checkbox" (change)="filterChange($event,null,null, x.id, null ,null)"> {{x.name}}
              ({{x.sum}}) </h6>
            <!--[routerLink]="['/product/brand/',x.id]"-->
            <div class="hr"></div>
          </div>

        </div>

      </div>
      <div class="filter ">
        <button class="btn " id="discount_Btn" (click)="showDiscount()">categories <i class="fas fa-angle-down  fa-rotate-270" id="icon1"></i>
        </button>
        <hr>
        <div class="check scroll" id="offer_List">
          <div *ngFor="let x of filter.categories">
            <h6><input type="checkbox" (change)="filterChange($event,null,null,null, x.id ,null)"> {{x.name}} ({{x.sum}}
              )</h6>
            <div class="hr"></div>
          </div>

        </div>

      </div>
      <div class="filter" *ngFor="let x of filter.category_attributes">
        <button class="btn " id="screen_Btn" (click)="showScreen(x.id)">{{x.name}} ({{x.sum}}) <i class="fas fa-angle-down  fa-rotate-270"
                                                                                                  [id]="'icon2'+x.id"></i>
        </button>
        <hr>
        <div class="check" [id]="'size_List'+x.id">
          <div *ngFor="let y of x.cat_attr_values">
            <h6><input type="checkbox" (change)="filterChange($event,null,null,null,null, y.id)"> {{y.name}} ({{y.sum}})
            </h6>
            <div class="hr"></div>
          </div>


        </div>

      </div>

    </section>
    <!-- section3 -->
    <section class="p-sec3">


      <div class="item" *ngFor="let item of items">
        <div class="card" (mouseover)="item.hover=true" (mouseleave)="item.hover=false">
          <div class="hover" [ngStyle]="{visibility: item.hover==true  ? 'visible' : 'hidden' }">
            <div class="inner-card">
<!--              <img src="assets/img/icons/show.png" class="img-fluid one" [routerLink]="['/item',item.id]">-->
              <h4 *ngIf="itemListIDS.includes(item.id)" style="background-color:#019d0a;"><img src="assets/img/icons/cart2.png" class="img-fluid two">ADDED TO CART</h4>
              <h4 (click)="addToCart(item)"  [id]="'addToCart'+item.id" *ngIf="!itemListIDS.includes(item.id)"><img
                src="assets/img/icons/cart2.png" class="img-fluid two">ADD TO CART
              </h4>
              <h5>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </h5>
            </div>

          </div>
          <div class="save" *ngIf="item.reduction_percent != null">
            <span>SAVE {{item.reduction_percent}}%</span>
          </div>
          <span class="heart"><i class="fas fa-heart"></i></span>
          <img [src]="
            'https://arafa.000webhostapp.com/Hyper/uploads/' + item.main_image
          " class="img-fluid" [routerLink]="['/item',item.id]"/>
          <p [routerLink]="['/item',item.id]">{{ item.name  }}</p>
          <div class="bttom">
            <span class="stock"><i class="fas fa-circle"></i>In stock</span>
            <div class="old-price" *ngIf="item.price != item.wholesale_price">
              <span class="egp1 ">EGP</span>
              <span class="old">{{ item.wholesale_price |currency:' ' }}</span>
            </div>
            <div class="new-price">
              <span class="egp">EGP</span>
              <span class="new">{{ item.price |currency:' ' }}</span>
            </div>
          </div>
        </div>
      </div>

<br>
      <div class="seeMoreBtn">
        <button class="btn btn-danger" (click)="seeMore()">See More</button>
      </div>
    </section>

  </div>



</div>




