<div class="nav">
  <h2>
    <a routerLink="/home">Home </a>
    <span>> Installments</span>
  </h2>
</div>
<div class="sec1">

  <div class="text">
    <h2>Installments</h2>

  </div>
</div>

<div class="Installments">
  <h2>Installment by credit card (Visa purchases)</h2>

  <p>Is an installment system available to customers who carry a credit card (Visa Purchases) for customers of :</p>

  <div class="banks">

    <div>
      <h6>1. Al Ahli Bank</h6>
      <img src="assets/img/ahli.png" style=" width: 123px;">
    </div>
    <div>
      <h6>2. Misr bank</h6>
      <img src="assets/img/misr.png">
    </div>
    <div>
      <h6>3. QNB Bank</h6>
      <img src="assets/img/qnb.png">
    </div>

  </div>

</div>

<div class="Advantages">
  <h3>Advantages of installment through credit cards</h3>
  <ol>
    <li>Installment for 12 months on all household appliances and some electrical appliances that are advertised through our <br>
      Facebook page
    </li>
    <li>Products can be ordered by applying Hyper Techno or by telephone and making use of the payment service upon  <br>
      receipt through credit cards .
    </li>
  </ol>
</div>

<div class="inst_banks">
  <h3>Installment through banks</h3>
  <p>This system is available to public and private sector employees and pensioners for a maximum of 60 years</p>

  <div class="cards">

    <div class="Paperwork">
      <div>
        <p>Paperwork required of<br>staff for submission to banks</p>
      </div>

        <ol>
          <li> A doucement with salary Issued by <br>
            the employer
          </li>
          <li>A copy of I.D </li>
          <li>New rent or proprietary Recipt </li>
        </ol>
    </div>


    <div class="Paperwork">
      <div>
        <p>Pensioners</p>
      </div>

        <ol>
          <li>Statement of pension status</li>
          <li>Picture of a I.D  </li>
          <li>Copy of the guarantor card </li>
          <li>Delivery of modern  facilities </li>
        </ol>
    </div>

  </div>




</div>



<div class="inst_banks">
  <h3>Installment through Contact</h3>
  <p>Is a system of installment available to employees in all government and private bodies and pensioners for the age of <br>
    not more than 60 years and also for the owners of shops and small projects .</p>

  <div class="cards">

    <div class="Paperwork">
      <div>
        <p>Paperwork required of<br>staff for submission to Contact</p>
      </div>

        <ol>
          <li> A doucment with salary Issued by  <br>
            the employer + Any proof of other<br>income
          </li>
          <li> A copy of I.D </li>
          <li> Copy of the guarantor card</li>
          <li> New rent or proprietary Recipt </li>
        </ol>
    </div>


    <div class="Paperwork">
      <div>
        <p>Paperworkrequired for<br>owners of shops and projects</p>
      </div>

        <ol>
          <li>Tax card and record trade</li>
          <li>A doucement with salary Issued by <br>the employer + Any proof of other <br>income  </li>
          <li>A copy of I.D</li>
          <li>Copy of the guarantor card  </li>
          <li>New rent or proprietary Recipt </li>
        </ol>
    </div>

  </div>




</div>

<div class="Important">
  <h3>Important Notes</h3>
  <ol>
    <li>When applying for an installment with Connecticut, a non-refundable inquiry fee of $ 100 is paid.</li>
    <li>There should be no late loans with the banks until the rejection process is completed on the installment request .</li>
  </ol>
</div>
