<div class="nav">
  <h2>
    <a routerLink="/home">Home </a>
    <span>> Register now</span>
  </h2>
</div>
<div class="sec1">

  <div class="text">
    <h2>Register now</h2>
    <h5>Make your account to get your appliance</h5>

  </div>
</div>


<div class="sec">
  <div class="text-center">
    <h2>Create an Account</h2>
  </div>


  <div class=" ">
    <article class="card-body " >


      <h2>Personal Information</h2>
      <form (ngSubmit)="register(myform)" #myform="ngForm">
        <div class="name">
        <div style="width: 30%;margin-right: 30px">
          <label>First Name*</label>
          <input name="Fname" class="form-control" type="text" ngModel required>
        </div>
        <div style="width: 30%">
          <label>Last Name*</label>
          <input name="Lname" class="form-control" type="text" ngModel required>
        </div>
        </div>

          <div class="name">
          <div style="width: 30%;margin-right: 30px">
          <label>Email Address*</label>
          <input name="Umail" class="form-control"  type="email" ngModel required>
          </div>
          <div style="width: 30%">
        <label>Address*</label>
          <input name="Uaddress" class="form-control"  type="text" ngModel required>
          </div>
          </div>

        <div>
          <p>
            <input type="checkbox"   required> would like to receive newsletters. My personal data will be used for sending me newsletters. A confirmation link will be sent to your email.<br>
            You can unsubscribe at any time by clicking on the unsubscribe link
          </p>
          <p>
            <input type="checkbox"   required>Accept our privacy policy
          </p>
          <a routerLink="/policy">Privacy policy</a>
        </div>
        <h2>Login Information</h2>
        <div class="name">
          <div style="width: 30%;margin-right: 30px">
          <label>Password*</label>
          <input class="form-control" id="password" name="password"  type="password" ngModel required>
          </div>

          <div style="width: 30%">
            <label> Confirm Password*</label>
          <input class="form-control" name="RePassword"  id="rePassword" type="password" ngModel required>
          </div>
        </div>

          <button type="submit" class="btn">Submit</button>


      </form>
<!--      <p class="divider-text">-->
<!--        <span class="bg-light">OR</span>-->
<!--      </p>-->
<!--      <h2>Login with</h2>-->
<!--      <p>-->
<!--           <img src="assets/img/google.webp" (click)="signInWithGoogle()">-->
<!--           <img src="assets/img/facebook.webp" (click)="signInWithFB()" >-->
<!--      </p>-->
    </article>
  </div>
</div>



