.nav{
  background-image: url(../../assets/img/header.webp);
  height: 30px;
}
.nav h2{
  width: 80%;
  margin: auto;
  font-size: 12px;
  color: white;
  font-weight: normal;
}
.nav h2 a{
  color: white;
}
.nav h2 a:hover{
  text-decoration: none;
  color: white;
}
.nav h2 span{
  color: yellow;
}

.sec1 {
  height: 300px;
  position: relative;
  background-image: url(../../assets/img/login.webp);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}



.sec1 .text {
  position: absolute;
  color: white;
  left: 15%;
  top: 30%;
}

.sec1 .text h2 {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}

.sec1 .text h5 {
  font-size: 22px;
  font-weight: 300;
}

.sec1 span {
  text-shadow: 2px 2px 4px #000000;
}
.sec{
  width: 84%;
  margin: auto;
}
.sec h2{
  color: #d93232;
  font-size: 20px;
  margin: 15px 0;
  font-weight: 400;
}
.card-body h2{
  color: #d93232;
  font-size: 20px;
  margin: 15px 0;
  font-weight: 400;
}


form input{
  background: #f1f1f1;

}
form .name{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.name label{
  color: #939393;
}
form button{
  background: #ff0009;
  border: none;
  color: white;
  text-decoration: underline;
  border-radius: 0px;
}
form a{
  color: goldenrod;
  text-decoration: underline;
}
from a :hover{
  color: goldenrod;
  text-decoration: underline;
}
 img{
  width: 50px;
  height:auto;
   margin-right: 10px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
.card-body img{
  cursor: pointer;
}

