


<div class="container">






  <div class=" ">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form (ngSubmit)="register(myform)" #myform="ngForm">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="Fname" class="form-control" placeholder="First Name" type="text" ngModel required>

          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="Lname" class="form-control" placeholder="Last Name" type="text" ngModel required>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="Umail" class="form-control" placeholder="Email address" type="email" ngModel required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <label>
            <select class="custom-select" style="max-width: 120px;">
              <option selected="">+20</option>
              <option value="1">+972</option>
              <option value="2">+198</option>
              <option value="3">+701</option>
            </select>
          </label>
          <input name="Uphone" class="form-control" placeholder="Phone number" type="text" ngModel required>
        </div> <!-- form-group// -->
         <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" name="password" placeholder="Create password" type="password" ngModel required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" name="RePassword" placeholder="Repeat password" type="password" ngModel required>
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" > Create Account  </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->


