.addressHead{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addressHead h2{
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
}
.addressHead button{
  background-color: #d7d7d7;
  color: #979797;
  border: 1px solid #cdcdcd;
  border-radius: 0 13px 0 13px;
  height: 40px;
  width: 250px;
  font-size: 16px;
  outline: none;
}
.addressBody{
  margin: 15px 0;
  padding: 15px;
  background-color: #f7f7f7;
  border: 1px solid #d6d6d6;
  border-radius: 0 13px 0 13px;
}
.addressBody h3{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #6b6b6b;
}
.addressBody h4{
  margin-left: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #6b6b6b;

}.addressBody h5{
  margin-left: 25px;
  font-size: 18px;
  font-weight: 500;
  color: red;
   cursor: pointer;
   outline: none;
}

