<div class="nav">
  <h2>
    <a routerLink="/home">Home </a>
    <span>> Returning Policy</span>
  </h2>
</div>
<div class="sec1">

  <div class="text">
    <h2>Replacement & Return Policy</h2>

  </div>
</div>

<div class="policy">
  <h3>Replacement and Return Policy </h3>
  <ol>
    <li>Submit the original invoice within 14 days from the date of the invoice </li>

    <li>The product shall be in the original condition by suspension, unused, broken or annotated.  </li>

    <li>In the case of an industry defect is replaced by a technical report from the company producing,</li>

    <li>After service the responsibility of the company produced, not the accelerator </li>

    <li>In case there is a break after the receipt is the responsibility of the customer and not the company. </li>

    <li>The method of recovering the animal is the same as the payment method, as specified in the sales invoice. In the case <br>
      of credit cards, the refund is cleared within 5 working days. </li>

    <li>Recovery from the same source branch of the invoice</li>
  </ol>
</div>
